<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Clock</title>
        <link rel="icon" type="image/x-icon" href="../Images/clock.png" />
 <style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("https://images.unsplash.com/photo-1574259627006-5a58946d6e30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHRleHR1cmVzfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
h2{
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 3rem;
    text-shadow: .3rem .3rem .4rem rgba(0,0,0,.8);
    color: white;
    outline-offset: 1rem;
    text-align: center;
    border-bottom: .2rem double white;
    margin-bottom: 2.5rem;
}
.clock{
    display: flex;
    border: .2rem solid white;
    padding: 4rem 10rem;
    background-color: rgba(240, 248, 255, 0.386);

}
.clock div{
    margin: .5rem;
    /* border: .2rem solid white; */
    position: relative;
}
.clock span{
    width: 10rem;
    height: 8rem;
    background-color: rgb(217, 170, 1);
    border-bottom: .1rem solid white;
    cursor: pointer;
    font-size: 1.4rem;
    opacity: .8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    text-shadow: .2rem .2rem .4rem rgba(0,0,0,.3);
}

.clock .text{
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background-color: black;
    opacity: 0.8;
}

.clock .border-removal{
    border: none;
}
.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 8rem;
    height: 3rem;
    font-size: 2.5rem;
    border: 1px solid white;
    background: none;
    padding: 2.3rem;
    background-color: rgb(129, 78, 27);
    border-radius: 1rem;
}
footer{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.427);
    border-top: .1rem solid rgba(255, 255, 255, 0.066);
    padding: 1rem;
    position: absolute;
    bottom: 0;
  }
  footer p{
   font-size: 1.5rem;
   color: white;
   }
  

@media(max-width:586px){
  html{
    font-size: 52.4%;
  }
}
@media(max-width:488px){
    html{
      font-size: 35.4%;
    }
  }
  @media(max-width:330px){
    html{
      font-size: 35.4%;
    }
  }
  @media(max-width:330px){
    .clock{
        padding: 4rem 8rem 4rem 4rem;
    }
  }
 </style>
</head>
<body>
    <h2>Indian Standard Time</h2>
    <div class="clock">
        <div>
            <span id="hour">00</span>
            <span class="text">Hours</span>  
        </div>
        <div>
            <span id="minutes">00</span>
            <span class="text">Minutes</span>  
        </div>
        <div>
            <span id="seconds">00</span>
            <span class="text">Seconds</span>  
        </div>
        <div class="border-removal">
            <span id="ampm">AM</span>
        </div>
    </div>
    <footer>
        <p>This Digital Clock  is made by Arun Katoch on 10/08/2022</p>
        <p> Email: akinfo554@gmail.com </p>
        <p> &#169; All rights reserved.</p>
       </footer>
    <script>
       const hourEl = document.getElementById("hour");
const minuteEl = document.getElementById("minutes");
const secondEl = document.getElementById("seconds");
const ampmEl = document.getElementById("ampm");



function updateClock(){

    let h = new Date().getHours();
    let m = new Date().getMinutes();
    let s = new Date().getSeconds();
    let ampm = "AM";
    if(h > 12){
        h = h-12;
        ampmEl.innerText = "PM";
    }
    
     h = h % 12;
     h = h ? h : 12; // the hour '0' should be '12'


     h = h < 10 ? "0" + h : h;
     m = m < 10 ? "0" + m : m;
     s = s < 10 ? "0" + s : s;

    hourEl.innerText = h;
    minuteEl.innerText = m;
    secondEl.innerText = s;
    ampmEl, (innerText = ampm);
    setTimeout(()=>{
     updateClock();
    }, 1000);

}

updateClock();
    </script>
</body>
</html>