<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="description" content="I am Arun Katoch 
        self taught MERN Stack Developer with a solid foundation in HTML, CSS,
        JavaScript, and React, I am passionate about crafting beautiful and
        engaging user interfaces. Additionally, my knowledge of backend
        technologies such as Node.js, Express, and MongoDB has given me a
        well-rounded understanding of full-stack development. I am proficient in
        designing and developing attractive UI'S using the following
        technologies:" />
        <meta name="keywords" content="Arun, Arun Katoch, self taught developer, MERN, HTML, CSS, JavaScript, Node, web developer, Arun Katoch Developer">
  <meta name="author" content="Arun Katoch">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arun Katoch</title>
    <link rel="stylesheet" href="css/style.css" />
     <link rel="icon" type="image/x-icon" href="Images/favicon.png">
  </head>
  <body>
    {{>navbar}}
    <main>
      
      <section class="top_section">
        <div class="left_portion">
          <h1>I will help you to grow your business</h1>
          <span> easily & effectively</span>
          <h2>
            I am proficient in developing attractive and dynamic web apps.
          </h2>
          <a href="/read_more" class="read_more">read more</a>
        </div>
        <div class="right_portion">
          <figure>
            <img src="Images/animated_image.svg" alt="animated image" />
          </figure>
        </div>
      </section>
   {{>about}}
   {{>contact}}
   {{>projects}}
   {{>bottom}}
    </main>
    {{>footer}}
    <script src="js/main.js"></script>
  </body>
</html>
