<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>katoch web solutions</title>
    <link rel="stylesheet" href="css/style.css" />
     <link rel="icon" type="image/x-icon" href="Images/favicon.png">
  </head>
  <body>
    {{>navbar}}
    <main>
      
      <section class="top_section">
        <div class="left_portion">
          <h1>I will help you to grow your business</h1>
          <span> easily & effectively</span>
          <h2>
            I am proficient in developing attractive and dynamic web pages.
          </h2>
          <a href="/read_more" class="read_more">read more</a>
        </div>
        <div class="right_portion">
          <figure>
            <img src="Images/animated_image.svg" alt="animated image" />
          </figure>
        </div>
      </section>
   {{>about}}
   {{>services}}
   {{>contact}}
   {{>projects}}
   {{>bottom}}
    </main>
    {{>footer}}
    <script src="js/main.js"></script>
  </body>
</html>
