<section class="about_section" id="about">
  <div class="my_about_heading">
    <h1>About Me</h1>
  </div>
  <div class="about_container">
    <div class="about_left_portion">
      <figure>
        <img src="Images/selfie-animate.svg" alt="animated image" />
      </figure>
    </div>

    <div class="about_right_portion">
      <p>I am
        <span> Arun Katoch </span>and i am from kasauli district Solan of
        Himachal Pradesh. I am Front End Developer (fresher) with basic
        knowledge of backend. I am proficient in designing and developing
        attractive web pages using the following technologies:
      </p>
      <ul>
        <li>Html
          <figure><img src="Images/html.png" alt="html" /></figure></li>
        <li>Css
          <figure> <img src="Images/css.png" alt="html" /></figure></li>
        <li>Javascript
          <figure><img src="Images/js.png" alt="html" /></figure></li>
        <li>React
          <figure><img src="Images/react.png" alt="html" /></figure></li>
        <li>Node Js
          <figure><img src="Images/node.png" alt="html" /></figure></li>
        <li>Express
          <figure><img src="Images/express.png" alt="html" /></figure></li>
        <li>MongoDb
          <figure><img src="Images/mongodb.png" alt="html" /></figure></li>
      </ul>

      <span class="about_more">Apart from these technologies i am also familiar
        with Figma, Canva, Photoshop, Bootstrap, MaterialUI, PostMan,
        restfulAPI, Github etc.
      </span>

    </div>
  </div>
</section>