<section class="bottom_section">
  <div class="logo"><h1>Katoch Web Solutions</h1></div>
  <div class="bottom_container">
    <div class="bottom_details">
      <div class="bottom_rows">
        <span>Sources Used</span>
        <ul>
          <li><a href="https://storyset.com/" target="_blank">
              illustrations by Storyset</a></li>
          <li><a href="https://icons8.com" target="_blank">
              Icons by Icons8</a></li>
          <li><a href="https://colorhunt.co/" target="_blank">
              colors by colorhunt</a></li>
          <li><a href="https://fonts.google.com/" target="_blank">
              fonts by google fonts</a></li>
        </ul>
      </div>
      <div class="bottom_rows">
        <span>Other Links</span>
        <ul>
          <li><a href="/pageunderconstruction" target="_blank">
              terms & conditions</a></li>
          <li><a href="/pageunderconstruction" target="_blank">
              Privacy Policy</a></li>
          <li><a href="/pageunderconstruction" target="_blank">
              disclaimer</a></li>
        </ul>
      </div>
      <div class="bottom_rows">
        <span>Help & Support</span>
        <ul>
          <li><a href="/pageunderconstruction" target="_blank">
              FAQ's</a></li>
          <li><a href="/pageunderconstruction" target="_blank">
              what's new</a></li>
        </ul>
      </div>

    </div>

    <div class="social_links_container">
      <span>Social Links:</span>

      <div class="social_links">
        <a
          href="https://www.facebook.com/profile.php?id=100005266396367"
          target="_blank"
        >
          <img src="Images/facebook.png" alt="facebook" />
        </a>

        <a
          href="https://www.linkedin.com/in/arun-katoch-885a1419b"
          target="_blank"
        >
          <img src="Images/linkedin.png" alt="linkedin" />
        </a>

        <a href="https://wa.me/qr/L7YHBZFDL7HEG1" target="_blank">
          <img src="Images/whatsapp.png" alt="whatsapp" />
        </a>

        <a href="https://www.instagram.com/a.r.u.n_katoch/" target="_blank">
          <img src="Images/instagram.png" alt="instagram" />
        </a>

        <a href="https://github.com/ArunKatoch25-july-2000" target="_blank">
          <img src="Images/github.png" alt="github" />
        </a>
      </div>
      <a href="/" id="up_arrow">
        <img src="Images/uparrow.png" alt="up arrow" />
      </a>
    </div>
  </div>
</section>