    <header id="header">
    <nav>
       <div class="logo"><h1>ArunKatoch.Dev</h1></div>
        <ul class="big_devices_ul">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#projects" class="projects">Projects</a></li>
        </ul>
        <img src="/Images/menu_icon.png" alt="menu" id="menu_btn">
        </nav>
    
        <div class="small_devices_navbar" id="mobileNav">
            <ul class="small_devices_ul">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
              <li><a href="#projects" class="projects">Projects</a></li>
        </ul>
        </div>
    
    </header> 