<section class="projects_section" id="projects">
  <div class="my_projects_heading">
    <h1>Projects Completed</h1>
  </div>
  <div class="projects_container">
       <div class="projects">
      <a href="https://kasaulitourism.vercel.app/" target="_blank">
        <img src="Images/projects/homepage.png" alt="kasauli tourism" />
        <h2>Kasauli Tourism</h2>
        <p>MERN Stack based project. Kind of tourist guide web app. </p>
      </a>
    </div>

    <div class="projects">
      <a href="https://mytexteditor.vercel.app/" target="_blank">
        <img src="Images/projects/mytexteditor.svg" alt="" />
        <h2>My Text Editor</h2>
        <p>My text editor is a react app where you format your text as per your
          need.</p>
      </a>
    </div>
    <div class="projects">
      <a href="https://my-keep.vercel.app/" target="_blank">
        <img src="Images/projects/mykeep.svg" alt="keep clone" />
        <h2>My Keep app</h2>
        <p>My Keep is basically a notes making app developed by using react js.</p>
      </a>
    </div>
    <div class="projects">
      <a href="https://arun-web.vercel.app/" target="_blank">
        <img src="Images/projects/arunweb.svg" alt="arun web" />
        <h2>Arun Web </h2>
        <p>In this website i create a basic signup/signin form. Also use
          Authentication</p>
      </a>
    </div>
    <div class="projects">
      <a href="/sciencequiz" target="_blank">
        <img src="Images/projects/quiz-website.svg" alt=" quiz website" />
        <h2>Science Quiz </h2>
        <p>This quiz app is developed by using html, css & js.</p>
      </a>
    </div>

    <div class="projects">
      <a href="https://to-do-list-five-rose.vercel.app/st" target="_blank">
        <img src="Images/projects/todoList.svg" alt="to Do list" />
        <h2>To Do List App </h2>
        <p>This To Do List app is developed by using React js & Material UI.</p>
      </a>
    </div>

    <div class="projects">
      <a
        href="https://github.com/ArunKatoch25-july-2000/weatherapp"
        target="_blank"
      >
        <img src="Images/projects/weatherAppHomepage.svg" alt="to Do list" />
        <h2>Weather App </h2>
        <p>This Weather app is developed by using html, css, js, Nodejs,
          Handlebars, API, Express js.</p>
      </a>
    </div>

  </div>
</section>