<section class="projects_section" id="projects">
  <div class="my_projects_heading">
    <h1>Projects Completed</h1>
  </div>
  <div class="projects_container">
    <div class="projects">
      <a href="https://arunkatoch-dev.vercel.app/" target="_blank">
        <img src="Images/projects/myNewPortfolio.webp" alt="img" />
        <h2>My portfolio
          <sup style="font-size: 10px; color: red"> new*</sup></h2>
        <p>All of my projects are in this porfolio.</p>
      </a>
    </div>
  </div>
</section>