<section class="services_section" id="services">
  <div class="my_services_heading">
    <h1>Katoch Web Solutions Services...</h1>
  </div>
  <div class="my_services">
    <div class="services">
      <figure>
        <img src="Images/ui.png" alt="animated image" />
      </figure>
      <span> UI/UX Development </span>
    </div>
    <div class="services">
      <figure>
        <img src="Images/webDevelopment.png" alt="animated image" />
      </figure>
      <span>Web Development</span>
    </div>
    <div class="services">
      <figure>
        <img src="Images/reDesigning.png" alt="animated image" />
      </figure>
      <span> Website Re-Design</span>
    </div>
    <div class="services">
      <figure>
        <img src="Images/responsive_web_designs.png" alt="animated image" />
      </figure>
      <span> Responsive Web Designs</span>
    </div>
    <div class="services">
      <figure>
        <img src="Images/ecommerce.png" alt="animated image" />
      </figure>
      <span> E-Commerce Development </span>
    </div>
    <div class="services">
      <figure>
        <img src="Images/Business.png" alt="animated image" />
      </figure>
      <span> Business Development</span>
    </div>
  
  

  </div>
</section>