@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;

}

/* body{

} */
:root {
    --primary-color: #000839;
    --primary-shades: #00020b;
    --para-color: #80849c;
    --white: #fff;
    --helper-color: #1264fa;
    --helper-color-2: #e6e6eb;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: inline-block;
    width: 100%;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: var(--primary-color);
}

.para {
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400;
    color: var(--para-color);
}

/* --------------------------- Header & Navbar Style start ----------------------- */

header {
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.4rem;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    font-size: 1.5rem;
}

.navbar-list .navbar-btn {
    padding: 1.2rem 2.4rem;
    background-color: var(--white);
    border: 1px solid var(--helper-color);
    color: var(--helper-color);
    transition: all 0.3s ease-in-out;
}

.navbar-list .navbar-link:hover,
.navbar-list .navbar-link:active {
    color: var(--helper-color);

}

.navbar-btn:hover,
.navbar-btn:active {
    background-color: var(--helper-color);
    color: var(--white);
}

.mobile-nav-icon {
    font-size: 4rem;
    color: var(--primary-color);
}

.mobile-navbar-btn {
    display: none;
}

.mobile-nav-icon[name="close"] {
    display: none;
}

/*................ Reuseable Code ...................  */

.section {
    padding: 9.6rem 0;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
    /* border: 1px solid black; */
    padding: 0 3.2rem;

}

.grid {
    display: grid;
    gap: 9.6rem;
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}

.btn {
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1.6rem 3.2rem;
    border-radius: 10rem;
    background-color: var(--helper-color);
    color: var(--white);
    transition: all 0.2s linear;
}

.btn:hover,
.btn:active {
    transform: scale(1.05);
}

/* --------------------------- Hero Section Style start ----------------------- */

.section-hero {
    /* border: 1px solid red; */
    position: relative;
}

.section-hero::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 9.6rem;
    right: 0;
    width: 30%;
    height: 50%;
    background-color: var(--helper-color-2);
    z-index: -1;
}

.primary-heading {
    font-size: 6rem;
    font-weight: 700;
}

.section-hero .para {
    margin-top: 2rem;
    margin-bottom: 3.2rem;
}

.hero-icons {
    margin-top: 4.2rem;
    /* border: 2px solid green; */

}

.hero-icons .icon {
    font-size: 6rem;
    position: relative;

}

.hero-icons .icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    background-color: var(--helper-color);
    border-radius: 50%;
    opacity: 0.7;
  
}

.hero-icons h2{
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;

}

.section-hero .hero-icon-style .para{
    line-height: 1.6;
    font-size: 1.4rem;
    margin: 0;
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.hero-image img{
    height: 90%;
    box-shadow: 0 0 10rem 0 rgba(0,0,0,0.1);
}

.hero-img-overlay{
    position: absolute;
    bottom: 0;
    left: -10%;
    background-color: var(--primary-color);
    padding: 4rem;

}

.hero-img-overlay .para{
    color: var(white);
}

.hero-img-overlay .para:nth-child(2){
    margin: 0;
    font-weight: bold;
}
.hero-img-overlay .para:last-child{
    margin: 0;
}

/* ...................... media queries ..........................  */
@media(max-width:1250px) {
    .container{
        padding: 0.6rem;
    }
    html{
        font-size: 56.25%;
    }
}

@media(max-width:1014px) {
    html{
        font-size: 50.25%;
    }
}

@media(max-width:912px) {
    html{
        font-size: 45.25%;
    }
}

@media(max-width:842px) {
    html{
        font-size: 45.25%;
    }
    img {
        display: inline-block;
        width: 100%;
    }
    .hero-img-overlay{
        padding: 3rem;
        left: 0;
    }
    .container{
        max-width: 90rem;
        padding: 0.4rem;
    }
}

@media(max-width:700px){
    html{
        font-size: 40.2% ;
    }
    .grid-two-column {
        grid-template-columns: 1fr;
    }
    .section-hero .hero-icons .grid-two-column{
        grid-template-columns: 1fr 1fr;
    }
    .hero-icon-style{
        padding-left: 1rem;
    }
    .section-hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }

}

@media(max-width:600px){
    .navbar{
        display: none;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .primary-heading {
        font-size: 4rem;
        font-weight: 500;
    }
}